@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(fonts/fonts.css);

//Todo: cursors?

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

//Links

//Todo: This is just a reminder that the a.block class exsists

//Todo: Scrollbar

//Todo: Ensure 3D links don't show default effect or select one for the header or something...

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #4dbaff;
}
a:after, a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #4dbaff;
  transition: 0.2s;
}
a:hover:after, a:visited:hover:after {
  width: 100%;
}
a.block, a:visited.block {
  display: block;
  padding: 0.5em;
}
a.block:hover, a:visited.block:hover {
  background: #eee;
  transition: 0.5s;
}

.link {
  text-decoration:none;
}
.link-box {
  text-decoration:none;
  border:1px dotted;
}
.roll {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  perspective: 400px;
  perspective-origin: 50% 50%;
}
.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  transition: all 400ms cubic-bezier(.5, 0, .2, 1);
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}
.roll:hover span {
  background: #111;
  transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}
.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  color: #eee;
  background: #4DBAFF;
  transform-origin: 50% 0%;
  transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

.demo {
  height: 1000px;
}

//navbar

@mixin clearfix {
  &::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

nav {
  position: fixed;
  height: 100%;

  navbar {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 100;
    background: #2d2d2d;
    -webkit-box-shadow: 2.5px 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2.5px 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2.5px 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
  }

  navbar.unfixed {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
    box-shadow: none;
  }

  navbar.unfixed .logo-background {
    opacity: 0;
  }

  navbar .logo-background {
    position: absolute;
    background: #5700ff;
    width: 450px;
    height: 95px;
    min-height: 95px;
    left: 0;
    top: -5px;
    z-index: 200;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s;
  }

  navbar .logo {
    position: absolute;
    width: 400px;
    left: 10px;
    top: 0;
    z-index: 201;
  }

  navbar items {
    margin-left: 500px;
  }

  navbar item {
    color: #d7d1e5;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    font-size: 20pt;
    font-weight: 100;
    padding: 0 10px 0 10px;
    margin: 0;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition: color 0.3s;
  }

  @mixin navitem($bcolor, $fcolor) {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $bcolor;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition:transform 0.3s ease;
    }
    &:hover {
      color: $fcolor;
    }
    &.active::before {
      transform: scaleX(1);
    }
    &.active {
      color: $fcolor;
    }
  }

  navbar item.about {
    @include navitem(#5700ff, #eee);
    border-left: 2px solid #5700ff;
  }

  navbar item.products {
    @include navitem(#cd00ff, #eee);
    border-left: 2px solid #cd00ff;
  }

  navbar item.software {
    @include navitem(#ff0000, #eee);
    border-left: 2px solid #ff0000;
  }

  navbar item.code {
    @include navitem(#ff6d00, #eee);
    border-left: 2px solid #ff6d00;
  }

  navbar item.av {
    @include navitem(#00ff24, #444);
    border-left: 2px solid #00ff24;
  }

  navbar item.science {
    @include navitem(#00edff, #444);
    border-left: 2px solid #00edff;
  }

  navbar item.ideas {
    @include navitem(#0068ff, #eee);
    border-left: 2px solid #0068ff;
  }

  navbar search {
    position: absolute;
    right: 20px;
    left: unset;
    top: 10px;
    cursor: pointer;
    z-index: 102;
    transition: left 1s ease;
  }

  navbar search.active {
    right: unset;
    left: 500px !important;
  }

  navbar .searchbar {
    box-sizing: border-box;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 101;
    background: #313638;
    transition: width 0.8s, padding 0.8s;
    padding: 10px 0 0 0;
  }

  navbar .searchbar.active {
    padding: 10px 80px 0 570px;
    width: 100%;
  }

  navbar .search {
    background: none;
    height: 40px;
    width: inherit;
    border: 0 solid transparent;
    border-bottom: solid #3e00ff 2px;
    outline: none;
    color: #eee;
    font-size: 30px;
    font-weight: 100;
    z-index: 102;
  }

  navbar .searchbar .x {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }

  dropdown {
    position: fixed;
    top: 60px;
    width: auto;
    max-height: 0;
    background: #666;
    z-index:99;
    margin:0 0 0 500px;
    -webkit-box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.5);
    overflow-x:auto;
    overflow-y:hidden;
    transition: max-height 0.3s, opacity 0.5s;
    white-space:nowrap;
    opacity: 0;
  }

  dropdown.active {
    max-height:200px;
    display:initial;
    opacity: 1;
  }

  dropdown section {
    @include clearfix;
    padding:0 20px 0 10px;
    height:200px;
    color:#eee;
    display: inline-block;
    font-weight:100;
    max-width:500px;
    white-space:normal;
  }

  dropdown section h1 {
    font-weight:600;
    color:#ddd;
  }

  dropdown.about section {
    border-left: 6px solid #5d52b9;
  }

  dropdown.products section {
    border-left: 6px solid #9f5db9;
  }

  dropdown.software section {
    border-left: 6px solid #b95e5e;
  }

  dropdown.code section {
    border-left: 6px solid #b97f55;
  }

  dropdown.av section {
    border-left: 6px solid #62b965;
  }

  dropdown.science section {
    border-left: 6px solid #69a6b9;
  }

  dropdown.ideas section {
    border-left: 6px solid #5e7cb9;
  }
}

//Jssor Slider

.jssora21l {
  display: block;
  position: absolute;
  width: 55px;  //size
  height: 55px; //size
  cursor: pointer;
  background: url(../images/larrow.svg) center center no-repeat;
  background-size: 20px 20px;
  opacity: 0;
  overflow: hidden;
  transition:opacity 0.3s;
}

.homepageslider_container {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  z-index:-20;
}

.jssora21r {
  display: block;
  position: absolute;
  width: 55px;  //size
  height: 55px; //size
  cursor: pointer;
  background: url(../images/rarrow.svg) center center no-repeat;
  background-size: 20px 20px;
  overflow: hidden;
  opacity: 0;
  transition:opacity 0.3s;
}

#homepageslider_container:hover .jssora21l {
  opacity:1;
}

#homepageslider_container:hover .jssora21r {
  opacity:1;
}

.jssora21l {  }                               //normal
.jssora21r {  }                               //normal
.jssora21l:hover { opacity:0.7 !important; }             //mouseover
.jssora21r:hover { opacity:0.7 !important; }             //mouseover
.jssora21l.jssora21ldn { opacity:0.4 !important; }       //mousedown
.jssora21r.jssora21rdn { opacity:0.4 !important; }       //mousedown