@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(fonts/fonts.css);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

//navbar

navbar {
  position:fixed;
  width:100%;
  left:0;
  right:0;
  top:0;
  height:60px;
  z-index:100;
  -webkit-box-shadow: 2.5px 2.5px 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 2.5px 2.5px 10px 0 rgba(0,0,0,0.5);
  box-shadow: 2.5px 2.5px 10px 0 rgba(0,0,0,0.5);
}

navbar.unfixed {
  background:none;
}

navbar.fixed {
  background:#2d2d2d;
}

navbar .logo-background {
  position:absolute;
  background:#5700ff;
  width:450px;
  height:95px;
  min-height:95px;
  left:0;
  top:-5px;
  z-index:200;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
}

navbar .logo {
  position:absolute;
  width:400px;
  left:10px;
  top:0;
  z-index:201;
}

navbar items {
  margin-left:500px;
}

navbar item {
  color:#d7d1e5;
  cursor:pointer;
  height:60px;
  line-height: 60px;
  font-size:20pt;
  font-weight:100;
  padding:0 10px 0 10px;
  margin:0;
}

@mixin navitem($bcolor, $fcolor) {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:$bcolor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  &:hover {
    color:$fcolor;
  }
  &:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

navbar item.about {
  @include navitem(#5700ff,#eee);
  border-left: 2px solid #5700ff;
}

navbar item.products {
  @include navitem(#cd00ff,#eee);
  border-left: 2px solid #cd00ff;
}

navbar item.software {
  @include navitem(#ff0000,#eee);
  border-left: 2px solid #ff0000;
}

navbar item.code {
  @include navitem(#ff6d00,#eee);
  border-left: 2px solid #ff6d00;
}

navbar item.av {
  @include navitem(#00ff24,#444);
  border-left: 2px solid #00ff24;
}

navbar item.science {
  @include navitem(#00edff,#444);
  border-left: 2px solid #00edff;
}

navbar item.ideas {
  @include navitem(#0068ff,#eee);
  border-left: 2px solid #0068ff;
}

//Jssor Slider

.jssora21l {
  display: block;
  position: absolute;
  width: 55px;  //size
  height: 55px; //size
  cursor: pointer;
  background: url(../images/larrow.png) center center no-repeat;
  background-size: 20px 20px;
  opacity: 0;
  overflow: hidden;
  transition:opacity 0.3s;
}

.jssora21r {
  display: block;
  position: absolute;
  width: 55px;  //size
  height: 55px; //size
  cursor: pointer;
  background: url(../images/rarrow.png) center center no-repeat;
  background-size: 20px 20px;
  overflow: hidden;
  opacity: 0;
  transition:opacity 0.3s;
}

#slider1_container:hover .jssora21l {
  opacity:1;
}

#slider1_container:hover .jssora21r {
  opacity:1;
}

.jssora21l {  }                               //normal
.jssora21r {  }                               //normal
.jssora21l:hover { opacity:0.7 !important; }             //mouseover
.jssora21r:hover { opacity:0.7 !important; }             //mouseover
.jssora21l.jssora21ldn { opacity:0.4 !important; }       //mousedown
.jssora21r.jssora21rdn { opacity:0.4 !important; }       //mousedown